/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили для всего приложения */
body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}